.git
*.err
*.out
*.gz
*.old
.*
Settings.json
node_modules
*.log
*.DS_Store
.project
.buildpath
GWSettings.json
.settings/
nbproject/
registerIMServer.sh
html/player/extres/*
html/player/compiler.jar
html/player/out.js
rpmbuild/RPMS/
rpmbuild/SRPMS/
debbuild/
package-lock.json

