Package: nubomanagement-public
Version: %Version%
Architecture: all
Depends: nubomanagement-public-common, nubomanagement-public-js, nubomanagement-public-node-modules, nubomanagement-public-webplayer
Recommends:
Maintainer: NuboSoftware <alexander@nubosoftware.com>
Section: main
Description: nubo management web service that run in public network
