Package: nubomanagement-public-node-modules
Version: %Version%
Architecture: all
Depends: nodejs(>=4.4.5), nubomanagement-public-js
Recommends:
Maintainer: NuboSoftware <alexander@nubosoftware.com>
Section: main
Description: nubo management web service that run in public network
