Package: nubomanagement-public-common
Version: %Version%
Architecture: all
Depends: nubomanagement-public-js(= %Js_Version%), nubomanagement-public-node-modules(= %Node_modules_Version%), nubomanagement-public-webplayer(= %Webplayer_Version%), nubomanagement-public
Recommends:
Maintainer: NuboSoftware <alexander@nubosoftware.com>
Section: main
Description: nubo management web service that run in public network
